<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="/home/login.js" defer></script>
  <title>Document</title>
</head>

<body>
  <input id="id" type="text" placeholder="ID">
  <input id="pw" type="text" placeholder="PassWord">
  <button>로그인</button>
</body>
