<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/home/login.css">
  <script src="/js/home/login.js" defer></script>
  <title>Document</title>
</head>

<body>
  <div class="login-page">
    <div class="form">
      <form class="login-form">
        <input id="id" class="text" type="text" placeholder="ID"/>
        <p class="underline"></p>
        <input id="pw" class="text" type="password" placeholder="Password"/>
        <p class="underline"></p>
        <span class="focus_pw" data-placeholder="Password"></span>
        <p id="button" class="btn">LOGIN</p>
        <p class="message">계정이 없나요? <a href="/register">계정을 만들어보세요!</a></p>
      </form>
    </div>
  </div>
</body>