<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/home/login.css">
  <script src="/js/home/register.js" defer></script>
  <title>Document</title>
</head>

<body>
  <div class="login-page">
    <div class="form">
      <form class="login-form">
        <input id="name" class="text" type="text" placeholder="Name" />
        <p class="underline"></p>
        <input id="id" class="text" type="text" placeholder="ID" />
        <p class="underline"></p>
        <input id="pw" class="text" type="password" placeholder="Password" />
        <p class="underline"></p>
        <input id="confirm-pw" class="text" type="password" placeholder="Confirm Password" />
        <p class="underline"></p>
        <input id="admin" class="text" type="password" placeholder="Admin Key" />
        <p class="underline"></p>
        <p id="button" class="btn">Sign Up</p>
        <p class="message">이미 계정이 있나요? <a href="/login">로그인 해보세요!</a></p>
      </form>
    </div>
  </div>
</body>

<!-- Copyright (c) 2022 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy) -->